* {
    box-sizing: border-box;
    /* margin: 0 auto; */
}

body {
    background-color: #383838;
    color: #FFFFFF	;
    text-align: center;
    font-family: Roboto-Regular;
    margin: 0 auto

}