
.book-preview {
    height: 300px;
    color: #F2F2F2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.86);
    justify-content: space-between;;
    border-radius: 5px;
}

.book-preview:hover {
    box-shadow:0px 0px 1px 5px rgb(225, 208, 106)
}

.book-preview h2 {
    margin: 8px;
    /* height: 66%; */
    color: #121212;
    font-size: 20px;
    background-color: #b8c0b8d1;
    margin: 0;
}

.book-preview h3 {
    margin: 8px;
    /* height: 66%; */
    color: #121212;
    font-size: 20px;
    background-color: #c0beb8;
    margin: 0;
}

.book-preview img {
    width: 160px;
    object-fit: contain;

}

.book-preview h3 {
    margin: 0px;
    /* height: 15%; */
}
